html{
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    user-select: none;
}
body{
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background: linear-gradient(60deg, white, hsl(-30, 50%, 50%)) no-repeat;
    background-size: cover;
    overflow: hidden;
}
#mobileHolder{
    position: fixed;
    overflow: hidden;
    top: 0;
    bottom:0;
    left:0;
    right: 0;
    height: 100%;
    width: 100%;
    padding:0;
    margin: auto;
}
.roundPink{
    background: hsl(-30, 60%, 92%);
    font-weight: bold;
    border-radius: 5px;
}
.roundPink:focus{
    outline: none;
}


#btn{
    background: lightgray;

}
#content{
    position: absolute;
    width: 95%;
    top: 1%;
    left: 1%;
    min-height: 12rem;
    padding-top: 0.5%;
    padding-bottom: 2%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    background: linear-gradient(-60deg, white, teal);
    color: #1d1d1d;
    text-shadow: 0 1px 0 hsl(165,50%,70%);
    font-weight: bold;
    vertical-align: baseline;
}
#appTitle{
    font-style: italic;
}
#gitname{
    width: 25%;
}
#menuButton{
    color: black;
    text-shadow: 0 1px 0 hsl(165,50%,70%);
    float: left;
    padding-left: 2%;
    font-size: 2.2rem;
    cursor: pointer;
}

#audioPlayer{
    width:92%;
}
#playlist{
    text-align: center;
    width: 75%;
}
#currentlyPlaying{
    font-size: 0.8rem;
}